.container {
  align-self: center;
}

.button {
  padding: 14px 73px;
  font-weight: 700;
  font-size: 1.125rem;
  background: #fff;
  border: none;
  align-self: center;
  justify-self: flex-end;
  border-radius: 6px;
  cursor: pointer;
}
