.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 1.5rem;
  background-color: #c2d4da;
  color: #022859;
}

.title {
  font-size: 4rem;
  font-weight: 700;
}

.text {
  margin: 1.5rem 0 2rem 0;
}

.subtitle {
  font-weight: 600;
}

.subtitle,
.text {
  font-size: 0.875rem;
}
