.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 1.5rem;
  background-color: #c2d4da;
  color: #022859;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.content {
  align-self: flex-start;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 100%;
}

.text,
.backlink {
  font-weight: 500;
}

.re-send {
  font-weight: bold;
}
.re-send,
.text {
  font-size: 1rem;
  line-height: 150%;
}

.re-send > span,
.backlink > span {
  color: #fff;
}

.input {
  width: 45px !important;
  height: 76px;
  text-align: center;
  background: #59dda0;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 2rem;
}

.input-container {
  width: 318px;
  justify-content: space-between;
}

.bottom-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
